# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unittest_auth_server:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Debug
      run: printenv

    - name: Debug
      run: echo "$NODE_ENV"

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies for auth-server
      run: npm ci --prefix auth-api

    - name: Set up environment variables
      run: |
        echo "NODE_ENV=development" >> $GITHUB_ENV
        echo "PORT=3001" >> $GITHUB_ENV
        echo "HTTPS_PORT=8001" >> $GITHUB_ENV
        echo "DB_HOST=localhost" >> $GITHUB_ENV
        echo "DB_USER=jobuser" >> $GITHUB_ENV
        echo "DB_PASS=MeOllaanRyhma3!" >> $GITHUB_ENV
        echo "DB_NAME=JobMeIn" >> $GITHUB_ENV
        echo "JWT_SECRET=5728289726" >> $GITHUB_ENV

    - name: Test auth-server
      run: npm run test --prefix auth-api
