name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unittest_auth_server:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: JobMeIn
          MYSQL_USER: jobuser
          MYSQL_PASSWORD: MeOllaanRyhma3!
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies for auth-server
        run: npm ci --prefix auth-api

      - name: Run Database Script
        run: |
          sudo service mysql start 
          echo "Executing database script..."
          mysql -h localhost -P 3306 -u root -proot -e "CREATE DATABASE IF NOT EXISTS JobMeIn;"
          echo "Created a database"
          mysql -h localhost -P 3306 -u root -proot JobMeIn < database.sql
          echo "Database script execution completed."
          
      - name: Test auth-server
        env:
          DB_HOST: localhost
          DB_USER: jobuser
          DB_PASS: MeOllaanRyhma3!
          DB_NAME: JobMeIn
        run: npm run test --prefix auth-api
